/*reset */
html {
  box-sizing: border-box;
  /* 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
a {
  cursor: pointer;
  text-decoration: none;
}
li {
  list-style: none;
}
table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}
th,
td {
  text-align: initial;
}
button {
  border: none;
  cursor: pointer;
  font-family: "Quicksand";
}
.scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

/*reset end*/

.overflow-hidden {
  overflow: hidden;
}
body {
  background-color: #f3f3f3;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #699599;
  }
}
